{% extends 'base.html.twig' %}

{% block title %}Gestion du catalogue{% endblock %}

{% block body %}

<div class="container py-5">
    <h1 class="text-center mb-4">Gestion du catalogue</h1>

    <div class="row g-4">
        <div class="col-md-6">
            <div class="card p-4 h-100">

                <h2>Nouvelle allergène</h2>

                {{ form_start(allergeneForm) }}
                    {{ form_widget(allergeneForm) }}
                    <div class="text-center">
                        <button class="btn btn_admin_setting btn_admin_menu">Enregistrer</button>
                    </div>
                {{ form_end(allergeneForm)}}

                <a href="{{ path('app_allergene_index')}}" class="mt-3">Voir la liste</a>

            </div>
        </div>

        <div class="col-md-6">
            <div class="card p-4 h-100">

                <h2>Créer un thème</h2>

                {{ form_start(themeForm) }}
                    {{ form_widget(themeForm) }}
                    <button class="btn btn_admin_setting mt-3">Enregistrer</button>
                {{ form_end(themeForm)}}

                <a href="{{ path('app_theme_index')}}" class="mt-3">Voir la liste</a>

            </div>
        </div>

        <div class="col-md-6">
            <div class="card p-4 h-100">

                <h2>Créer un plat</h2>

                {{ form_start(platForm) }}
                    {{ form_widget(platForm) }}
                    <button class="btn btn_admin_setting mt-3">Enregistrer</button>
                {{ form_end(platForm)}}

                <a href="{{ path('app_plat_index')}}" class="mt-3">Voir la liste</a>

            </div>
        </div>

        <div class="col-md-6">
            <div class="card p-4 h-100">

                <h2>Créer un menu</h2>

                {{ form_start(menuForm) }}
                    {{ form_widget(menuForm) }}
                    <button class="btn btn_admin_setting mt-3">Enregistrer</button>
                {{ form_end(menuForm)}}

                <a href="{{ path('app_menu_index')}}" class="mt-3">Voir la liste</a>

            </div>
        </div>

    </div>

</div>

{% endblock %}
