<footer class="footer mt-6">
	<div class="container">
		<div class="row gy-2 pt-3">
			<div class="col-md-3">
				<h4 class="footer-title">Vite & Gourmand</h4>
				<p class="footer-text">
					Des plats faits maison, préparés avec des produits frais et livrés rapidement chez vous.
				</p>
			</div>
			<div class="col-md-2">
				<h5>Navigation</h5>
				<ul class="list-unstyled">
					<li>
						<a href="{{ path('app_home') }}">Accueil</a>
					</li>
					<li>
						<a href="{{ path('app_menu_public') }}">Menus</a>
					</li>
					<li>
						<a href="{{ path('app_contact') }}">Contact</a>
					</li>
					<li>
						<a href="#">mentions légales</a>
					</li>
					<li>
						<a href="#">conditions générales de vente</a>
					</li>
				</ul>
			</div>
			<div class="col-md-3">
				<h5>Contact</h5>
				<p>
					<i class="bi bi-envelope me-2"></i>
					Email : {{site_settings().Email}}</p>
				<p>
					<i class="bi bi-telephone me-2"></i>
					Téléphone : {{site_settings().Phone}}</p>
				<p>
					<i class="bi bi-geo-alt me-2"></i>
					Adresse : {{site_settings().Address}}, {{site_settings().PostalCode}} {{site_settings().City}}</p>
			</div>
			<div class="col-md-4">
				<h5>Jours et horaires d'ouverture</h5>
				<p>
					<i class="bi bi-clock me-2"></i>de Lundi au vendredi </br>de {{site_settings().OpeningHoursWeekdays}}</p>
				<p>
					<i class="bi bi-clock me-2"></i>Samedi : {{site_settings().OpeningHoursSaturday}}</p>
				<p>
					<i class="bi bi-clock me-2"></i>Dimanche : {{site_settings().OpeningHoursSunday}}</p>
			</div>
			<hr>
			<div class="text-center footer-copyright">
				<p>&copy; 2026 Vite & Gourmand. Tous droits réservés.</p>
			</div>
		</div>
	</div>
</footer>
