{% extends 'base.html.twig' %}

{% block title %}Plat index
{% endblock %}

{% block body %}
	<h1>Plat index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Title</th>
				<th>Description</th>
				<th>Photo</th>
				<th>Type</th>
				<th>Regime</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for plat in plats %}
				<tr>
					<td>{{ plat.id }}</td>
					<td>{{ plat.title }}</td>
					<td>{{ plat.description }}</td>
					<td>{{ plat.photo }}</td>
					<td>{{ plat.type }}</td>
					<td>{{ plat.regime }}</td>
					<td>
						<a href="{{ path('app_plat_show', {'id': plat.id}) }}">show</a>
						<a href="{{ path('app_plat_edit', {'id': plat.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	{% if is_granted('ROLE_ADMIN') %}
		<a href="{{ path('app_plat_new') }}">Créer un plat</a>
	{% endif %}
{% endblock %}
